{% extends "base.html" %}

{% block content %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
    
    <div class="d-flex justify-content-center">
       <div class="container col-3 shadow-lg p-3 mb-5 bg-body rounded">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          A simple danger alert—check it out!
        </div>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">{{ form.username.label_tag }} </label>
                <input type="text" class="form-control" name="username" autofocus autocapitalize="none" autocomplete="username" required id="id_username">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">{{ form.password.label_tag }}</label>
                <input type="password" class="form-control" name="password" autocomplete="current-password" required id="id_password">           
              </div>

            <button type="submit" value="login" class="btn btn-success">Logar</button>
            <input type="hidden" name="next" value="{{ next }}" />
            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>
        </form>
       </div>
    </div>

{% endblock %}