{% extends 'base.html' %}
{% load static %}
{% block title %}Tarefas{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    {%for video in videos %}
    {% if video.publicado %}
    <div class="col">
      <div class="rounded card m-3" style="width: 18rem;">
          <div class="ratio ratio-16x9">
            <iframe src="{{video.link_videos}}" title="YouTube video" allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{video.nome_videos}}</h5>
            <p class="card-text">{{video.desc_videos}}</p>
            <a href="{{video.link_videos}}" class="btn btn-primary btn-sm">Acessar</a>
          </div>
       </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}

