{% extends 'dashboard.html' %}

{% block 'header' %}

<div class="container-fluid d-flex px-3 justify-content-between align-items-end">
    <div class="d-flex flex-row">
      <a id="repo" href="/dashboard/jogos/" class="text-decoration-none text-dark itemsNavbar"><div class="px-3">Repositório</div></a>
      <a id="pend" href="/dashboard/jogos/pendentes" class="text-decoration-none text-dark itemsNavbar"><div class="px-3">Pendente</div></a>
    </div>
  <div class="d-flex flex-row">
      <div class="input-group rounded border rounded-pill">
          <input type="search" class="form-control border-0 bg-transparent" placeholder="Pesquisar" aria-label="Search" aria-describedby="search-addon" />
          <span class="input-group-text border-0 bg-transparent">
              <span class="material-symbols-outlined" style="color:#18a770;">search</span> 
          </span>
      </div>
      <button type="button" data-bs-toggle="modal" data-bs-target="#addButton" class="btn btn-green text-white fw-bold ms-3" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .75rem; --bs-btn-font-size: .75rem;">
      Adicionar 
      </button>
  </div>
  </div>

  <div class="modal fade" id="addButton" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Cadastrar Jogos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"> 
          <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="nome_games" class="form-label">Nome</label>
              <input type="text" class="form-control" id="nome_games" name="nome_games">
            </div>
            <div class="mb-3">
              <label for="link_games" class="form-label">Link</label>
              <input type="text" class="form-control" id="link_games" name="link_games">
            </div>
            <div class="mb-3">
              <label for="desc_games" class="form-label">Descrição</label>
              <textarea class="form-control" id="desc_games" name="desc_games" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label me-3">Matéria</label>
              {{form.materia}}
            </div>
            {% if user.groups.all.0.name == "Equipe Academica" %}
            <div>
              <label class="form-label">Publicar:</label>
              <input type="checkbox" class="form-check-input mx-3" id="publicado" name="publicado" aria-label="...">
            </div>
            {% endif %}
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
              <button type="submit" value="Submit" class="btn btn-danger">Salvar</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
{% block content %}
{% endblock %}

{% endblock %}