{% extends 'base_jogos.html' %}
{% block 'titulo' %}{% block title %}Jogos{% endblock %}{% endblock %}

{% block content %}
<div class="container">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar jogo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form action="" method="POST">
          {% csrf_token %}
          {{form.as_p}}

        <div class="modal-footer">
          <a href="/dashboard/jogos"><button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button></a>
          <button type="submit" value="Submit" class="btn btn-danger">Salvar</button>
        </div>

      </form>

    </div>
  </div>
</div>
{% endblock %}