body{
    background-image: url("../img/background/Vector.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100vh;
    padding: 0 24px;
}
.main{
    min-height: 800px;
}
.btn-green{
    color: #e5f6ed;
}
@media only screen and (max-width: 800px){
    .main{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        height: auto;
    }
    .main-title{
        display: flex;
        text-align: center;
    }
}
